@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">welcome to our website<img src="~/Images/TechNeurons_Logo.jpeg"/ class="imgsize"></h1>
        <i><p class="lead">Thaks for Giving this Opportunity</p></i>
       
    </section>
    <img />   
</main>